absl-py>=1.2.0
accelerate==0.15.0
audioread
av
bitsandbytes==0.36.0
cog
diffusers==0.12.1
fairseq==0.12.2
faiss-cpu==1.7.3
fastapi
ffmpeg-python>=0.2.0
ffmpy==0.3.1
fsspec>=2022.11.0
gradio==3.34.0
httpx
json5
librosa==0.9.1
llvmlite==0.39.0
numba==0.56.4
numpy==1.23.5
praat-parselmouth>=0.4.2
pyasn1-modules>=0.2.8
pyasn1>=0.4.8
pydub>=0.25.1
python-dotenv>=1.0.0
pyworld
resampy>=0.4.2
runpod==0.8.4
scipy
soundfile>=0.12.1
sympy>=1.11.1
torch==1.13.1
torchcrepe==0.0.20
torchvision==0.14.1
tqdm>=4.63.1
transformers==4.26.0
uc-micro-py>=1.0.1
uvicorn>=0.21.1
